.Intro{
    background-image: url("./media/food1.jpg");
    background-position: center; 
    margin: 0%;
    margin-top: -12vh;
    height: 60vh;
    background-repeat: no-repeat; 
    background-size: cover; 
}

.name{
    font-size: 10vw;
    margin-left: 25%;
    margin-top: 5%;
    font-weight: bolder;
    color:rgba(255, 255, 255, 0.918);
}

.navbar{
    width: 60%;
    height: 18%;
    margin-left: 20%;
    border-radius: 20px;
}

.dropdown-item{
    height: 50px;
    border-radius: 20px;
    line-height: 40px;
}

/* Card designing */
.card{
    width: 350px;
    height: 250px;
    margin-left: 4%;
    margin-top: 0%;
    /* margin: 2%; */
}

.card-img-top{
    height: 200px;
}
.card-title{
    margin: auto;
    text-align: center;
}
.Popular{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}
.text1{
    color:gray;
    font-weight: bolder;
    font-size: 3rem;
    margin-left: 5%;
}

/* for mobiles */
@media only screen and (max-width:700px){
    .Intro{
        background-image: url("./media/food1.jpg");
        background-position: center; 
        margin: 0%;
        margin-top: -12vh;
        height: 40vh;
        background-repeat: no-repeat; 
        background-size: cover; 
    }
    .name{
        font-size: 20vw;
        margin-left: 0%;
        margin-top: 20%;
        font-weight: bolder;
        color:rgba(255, 255, 255, 0.918);
    }
    .dropdown{
        display: none;
    }
    .navbar{
        margin-top: 10%;
        width: 80%;
        height: 25%;
        margin-left: 10%;
        border-radius: 20px;
    }
    .btn1{
        width: 100%;
    }
    .Popular{
        flex-direction: column;
    }
    .card{
        display: flex;
        width: 300px;
        height: 250px;
        margin-left: 8%;
        margin-top: 5%;
    }
}